body {
	background-color: purple;
}

#button {
	position: absolute;
	font-size: 150%;
	left: 90%;
	top: 85%;
}

#addinfo {
	display: none;
	background-color: white;
	margin-top: 15%;
	border-radius: 25px; 
}

#body2 {
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: -1;
}

#label {
	font-size: 200%;
}

